:root {
  --ff-main: 'Inter-Variable', sans-serif;
  --ff-accent: 'PressStart2P', fantasy;
  --fw-main: 400;
  --fw-heading: 700;
  --clr-bg: #fff;
  --clr-accent: #000;
  --clr-btn-text: #fff;
  --clr-heart-animation: #ff0000;
  --grad-multi-bg: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
